
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://unpkg.com/@webpixels/css/dist/index.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

{% load crispy_forms_tags %}

{% block content %}
<div class="card">

    <div class="card-header">
        <h2>Register</h2>
    </div>

    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            {% if status %}
            <div class="alert alert-danger mt-3">
                {{ status }}
            </div>
            {% endif %}
            <button class="btn btn-outline-info" type="submit">
                Sign Up
            </button>
        </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already have an account?
                    <a class='ml-2' href="{% url 'login' %}">Sign In</a>
                </small>
            </div>
        </form>
    </article>
</div>

<header>
    <title>{% block title %} Register {% endblock title %}</title>
  </header>
{% endblock content %}