{% load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calender</title>
    <link rel="stylesheet" href="styles.css">
    
    <link href="static/styles.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'calenderApp/styles.css' %}"> 


  </head>
  <body>
 <!-- <div class="container"> -->
    <div class="container">
        <div class="calendar">
          <table>
            <thead>
              <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td data-date="2023-04-01">1</td>
              </tr>
              <tr>
                <td data-date="2023-04-02">2</td>
                <td data-date="2023-04-03">3</td>
                <td data-date="2023-04-04">4</td>
                <td data-date="2023-04-05">5</td>
                <td data-date="2023-04-06">6</td>
                <td data-date="2023-04-07">7</td>
                <td data-date="2023-04-08">8</td>
              </tr>
              <tr>
                <td data-date="2023-04-09">9</td>
                <td data-date="2023-04-10">10</td>
                <td data-date="2023-04-11">11</td>
                <td data-date="2023-04-12">12</td>
                <td data-date="2023-04-13">13</td>
                <td data-date="2023-04-14">14</td>
                <td data-date="2023-04-15">15</td>
              </tr>
              <tr>
                <td data-date="2023-04-16">16</td>
                <td data-date="2023-04-17">17</td>
                <td data-date="2023-04-18">18</td>
                <td data-date="2023-04-19">19</td>
                <td data-date="2023-04-20">20</td>
                <td data-date="2023-04-21">21</td>
                <td data-date="2023-04-22">22</td>
              </tr>
              <tr>
                <td data-date="2023-04-23">23</td>
                <td data-date="2023-04-24">24</td>
                <td data-date="2023-04-25">25</td>
                <td data-date="2023-04-26">26</td>
                <td data-date="2023-04-27">27</td>
                <td data-date="2023-04-28">28</td>
                <td data-date="2023-04-29">29</td>
              </tr>
              <tr>
                <td data-date="2023-04-30">30</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              
            </tbody>
          </table>
        </div>
        <div class="add-event">
          <form>
            <label for="event-date">Date:</label>
            <input type="date" id="event-date">
            <label for="event-name">Event:</label>
            <input type="text" id="event-name">
            <button type="submit">Add Event</button>
          </form>
        </div>
        
      </div>
      
      
      
   <!-- </div> -->
   <script src="static/script.js"></script> 
   <script scr="{% static 'calenderApp/script.js' %}"></script>
  </body>
</html>
