{% extends 'base.html' %}


{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Calendar</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
  <!-- /.card-body -->
</div>


<script>
  $(document).ready(function() {
    var events = [
      {% for task in tasks %}
        {
          title: '{{ task.name }}',
          start: '{{ task.due_date }}'
        },
      {% endfor %}
    ];
    $('#calendar').fullCalendar({
      events: events
    });
  });
</script>

{% endblock content %}