{% extends 'base.html' %}


{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Task Reminder</title>
</head>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Task Reminder</h5>
        <p class="text">Dear User,</p>
        <p class="text">A task in your to-do list is about to be due:</p>
        <hr>
        <ul>
            {% for task in tasks %}
            <li>{{ task.name }}</li>
            {% endfor %}
        </ul>
        <hr>
        <p class="text">Please complete the tasks before the due date.</p>
        <p class="text">Thank you!</p>
    </div>
</div>
{% endblock content %}
```