{% extends 'base.html' %}


{% block content %}
<div class="card">
    <div class="card-header">
        <h5>Today <span class="badge bg-opacity-30 bg-primary text-primary
        rounded-pill d-inline-flex align-items-center ms-auto">{{ total_tasks }}</span></h5>
    </div>
    <div class="card-body">
        <div class="col-12">
            {% load crispy_forms_tags %}
            <form method="POST" id="ListForm" action="">
              {% csrf_token %}
              {% crispy form %}
            </form>
        </div>
        {% if all_items %}
        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead thead class="table-light">
                    <tr>
                        <th scope="col">Task Name</th>
                    </tr>
                </thead>
                <tbody id="taskTableBody">
                    {% for thing in all_items %}
                    {% if thing.completed %}
                    <tr>
                        <td class="striker">{{ thing.item }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>{{ thing.item }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
{% endblock content %}